@import '../main';

h1{
    font-weight: bold;
  }
  
  .atelier{
    font-family: 'Goudy Old Style';
    text-align: center;
  }
  
  .atelier h1,p{
    font-size: 1.5vw;  
  }
  
  .title{
    width: 100%;
    margin-bottom: 5%;
  }
  .title h1{
    font-size: 1.8vw;
    background-color: #D7D2CC;
    width: 90%;
    margin: auto;
    padding: 0.5%;
    font-weight: normal
  }
  .title span{
    font-size: 2.5vw;
  }
  
  .divImage {
    width: 17%;
    display: table-cell;
    vertical-align: middle;
  }
  .logoAtelier{
    vertical-align: auto;
    display: table-cell;
    margin: auto;
    justify-content: end;
  }
  .video{
    display: block;
    text-align: center;
    margin-top: 10%;
  }
  
  .divImage img  {
    width: 100%;
    margin: auto;
  }
  .corps{
    text-align: justify;
    width: 80%;
    margin: auto  ;
  }
  .corps span{
    font-size: 2.6vw;
    font-weight: normal;
  }
  
  .atelierImg{
    width: 100%;
  }
  .flex{
    display: flex;
  }