/* @font-face {
  font-family: "Segoe UI";
  src: local("Segoe UIl.ttc"),
} */

body{
    margin: 0px;
    padding: 0px;
    
  }
  
.Catalogue2022{
    font-size: 2.7vw;
    font-weight: 100;
    font-family: 'Segoe UI';
    margin :-7.1% 0px 0px 11%;
    /* margin-bottom: auto; */
    /* position: fixed; */
}
.colorCol{
  /* margin-bottom: auto; */
  font-family: "Modern No. 20";
  font-size: 3.8vw;
  color : rgb(226, 226, 226);
  margin : 3% 0% 0% -9%;
}
/* BARRE NAVIGATION PRINCIPAL */
header .active a{
  color: rgb(44, 44, 44);
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}

header  nav{
  background-color: #F8F9FA;
  text-align: center;
  
}
header nav ul{
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  justify-content: center;
}
header nav li{
  /* width: 100%;  	 */
  white-space:nowrap;
}
header nav a{
  display: block;
  text-decoration: none;
  padding: 0.45vw 1.85vw;
  font-size: 1.3vw;
  font-family: "Segoe UI";
  font-weight: lighter;
  color: rgb(128, 128, 128);
}
header nav a:hover{
  transition: 0.5s;
  background-color: #DAD8D8;
  color: rgb(87, 87, 87);
}
/* ------------------------------------------DIVERS-------------------------------------------------------- */
.flex{
  display: flex;
}

.block{
  display: block;
}

.center{
  text-align: center;
}

.takeSpace{
  width: 100%;
}
  
::-webkit-scrollbar {
  width: 10px;
}

/*----------------------------------------------------------- SCROLLBAR------------------------------------------------------ */
::-webkit-scrollbar-track {
  background: #eee8e1; 
}
  

::-webkit-scrollbar-thumb {
  background: #d7d2cc ; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* ------------------------------------------------------- VERTICAL MENU ------------------------------------------------------- */
.divCompVertMenu{
  width: 18%;
  text-align: center;
  font-family: "Segoe UI";
}  

.divCompVertMenu p {
  font-size: 1.18vw;
  color : rgb(99, 98, 98);
  font-weight: bolder;
  margin-top: 7%;
  
}
.divVertMenu{
  text-align: justify;
}

.divVertMenu ul{
  list-style: none;
  padding-left: 5%;
}

.divVertMenu li{
  border-bottom: solid 1px #ddd;
}

.divVertMenu a:before {
  content: "\0025EF";
  font-size: 1vw;
  margin-right: 2%;   
} 
.divVertMenu a{
  font-size: 0.85vw;
  color : rgb(29, 29, 29);
  display: block;
  padding: 5% 0% 3% 1%;
  text-decoration: none;
} 

.divVertMenu a:hover{
  transition: 0.5s;
  background-color: rgb(209, 209, 209) ;
  font-weight: bolder;
  margin-left: 4%;
}


.writte{
  flex-grow: 1;
}

.lien{
  display: flex;
  margin: 5% 0.3% 0% 0%;  
  justify-content: end;
  
}
.lien a{
  font-size: 1vw;
  margin: -2.5%;
  
}

.fa, .far, .fas{
  color : rgb(94, 92, 92); 
}
.lien a:hover .fa,.far{
  color : black;
  font-weight: bold;
}
.lien a:hover .fas{
  color : black;
  font-weight: bold;
}
.lien a:hover .far{
  -webkit-text-stroke: 0.1vw white;
}
.far{
  -webkit-text-stroke: 0.15vw white;
}
.img{
  width: 58%; 
  height: auto; 
  /* display: block;  */
  
}
.ban{
  /* width: 100%; */
  image-rendering: -webkit-optimize-contrast;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  /* image-rendering: pixelated; */
}