<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="hamb-menu" />
            <ul>
                <li><a class="active" href="#home">L'atelier</a></li>
                <li><a href="#news">Les Collections</a></li>
                <li><a href="#contact">Les Styles</a></li>
                <li><a href="#about">Sculptures et Moulages</a></li>
                <li><a href="#about">Luminaires</a></li>
                <li><a href="#about">Objets et Décors</a></li>
                <li><a href="#about">Projets</a></li>
                <li><a href="#about">Contact</a></li>
            </ul>

            <label class="hamb" for="hamb-menu"><span></span></label>
        </nav>

    </header>
</body>

</html>